body {

    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}


label {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

input {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding: 10px;
    width: 200px;

    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #28a745;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    width: 225px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: #28a745;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #218838;
}

.result {
    display: none;
    margin-top: 40px;
    padding: 10px;
    width: 400px;

    text-align: center;
    background-color: #d4edda;
    border: 2px solid #28a745;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    font-style: italic;
    color: #777;
}